body {
  padding-top: 50px;
}

.navbar-default {
  background-color: #1e88dd;
  border-color: #1e88dd;
  height: 20px;
}

#navbar .navbar-brand {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-toggle {
  border-color: #1e88dd;
}

#dashboard .blue-row{
  background-image: url('menu-background.png');
  height: 110px;
  width: 100vw;
  background-repeat: repeat;
}

.icons{
  height: 100%;
}

.img-col{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-col .image{
  max-width: 100%;
  height: auto;
}

.stack-images{
  height: 100%;
}

.dashboard-icon{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.marker-div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.green-dashboard{
  height: 75px;
  background-color: #33CC66;
  border-radius: 10px;
  margin-top: 15px;
}

.green-dashboard h2{
  color: white;
  font-size: 30px;
  font-weight: 400;
}

#search{
  margin-top: 20px;
  resize: none;
  background-color: white;
  height: 32px;
}

#search img{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.main-content{ /*gradient from http://www.cssmatic.com/gradient-generator */
  display: block;
  clear: both;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  background: rgba(246,246,246,1);
  background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 7%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(7%, rgba(246,246,246,1)), color-stop(31%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 7%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 7%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 7%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 7%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0 );
}

.background{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box shadow from http://www.w3schools.com/css/css3_shadows.asp*/
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.announcements-row{
  height: auto;
  padding: 0;
  margin: 0;
  border-bottom: thin solid #D3D3D3;
}

.announcements{ /*div*/
  height: inherit;
  padding: 10px;
  border-right: thin solid #D3D3D3;
  display: flex;
  justify-content: center;
}

#announcements{ /*words*/
  color: #FF9B13;
  height: 100%;
  text-align: center;
  float: left;
  margin: 0;
}

.words{ /*div*/
  font-size: 13px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

#words{ /*words*/
  margin: 0;
  color: #7F7F7F;
}

.arrows{
  border-left: thin solid #D3D3D3;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-arrow{
  margin-right: 10px;
}

.tasks-block{
  border-bottom: thin solid #D3D3D3;
  width: 100%;
}

.heading-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  color: #2498F4;
  font-weight: normal;
}

#tasks-setting{
  margin-right: 10px;
  float: right;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tasks-list li{
  border-bottom: thin solid #D3D3D3;
  padding-top: 10px;
  padding-bottom: 10px;
}

#first-task{
  color: #CCCCCC;
}

h4{
  color: #2498F4;
  margin-left: 5px;
  font-weight: normal;
}

.row .tasks{
  display: flex;
  align-items: center;
}

.analytics{
  border-left: thin solid #D3D3D3;
}

.analytics-block{
  border-bottom: thin solid #D3D3D3;
}

#analytics{
  margin-left: 30px;
}

#small-caps{
  color: #999999;
  margin-left: 20px;
}

.dropdown{
  float: right;
}

.caret{
  color: #FF9B13;
}

#graph{
  width: 100%;
}

.social-logos{
  margin-bottom: 20px;
}

/*Custom checkbox isn't working :( */

/*input[type='checkbox'] {
	opacity: 0;
}*/

/* Apply custom images - size your images according to text and stuff */
/* Take any custom image you want and encode it with http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/ or alike */
/*input[type='checkbox']{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACLSURBVDiN7Y4hDoNAAAR3rxeCxyBaX15ADsG3SPhAU9tP3RP4AgZbQbLZKlQNtJbxM7t0398kjQYqA2/sowz2cpEeUdIo6VXkPO2UAQBrSg1iHIKB6qgMAEXOk8k6HLj9hW2FX+WNM3AGtkD5h88Q7GVNqTlqrl13JznTbXtVjIPJ2rb2LpOco/38ABW9OK5LzYh0AAAAAElFTkSuQmCC) no-repeat center left;
	padding-left: 18px;
	margin-left: -18px;
}
input[type='checkbox']:checked{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFiSURBVDiNlZAxSyNRFIW/+3wTBBvRxsK12kLBWsmMSbkLu62dYB2xsBQE0UIQO5HdztY/4A/YJiEZxHpdsFOLNO52C0nmzbGKmMTI5JTn3e++c4+pWv0UQjgQzAv+U0zTTnqeCuHUhxAOQggXpVbrriAMQLdcXsH7fSeYnxQGKLVadzJbcBPEHpGk4ApPm7ksSc47cfz5re2L8iFJfgI1B3PAdt8fTbC6Whq2skrlWFAD0qjTqb19G1iQVatJb3b2vhfHa32vlyQ7SEfAb5/n37m9Hehs4ASTtoAlnPuVVSqbluczZvZD8Bhl2VfS9O9wuoEEU43GLmYXwAzStcyugH/K8y+k6dNoM8MdSPL1+h5mh0AEZMrzb6Vm88978MgJr2a9ftLb2Gib9BA1mzfj4LELAKJG4/IjsC8HTBcZHCNzTnrulssrk5LdOF42s7ZpfX0xeL8vswVJoejPZtb20tkLKyaJLiCC000AAAAASUVORK5CYII=) no-repeat center left;
}*/

/*attempt #2*/

/*input[type=checkbox] {
  display: none;
}

input[type=checkbox] {
  position: relative;
  background: url("not-checked.png") no-repeat;
  display: block;
}*/

.recommendations{
  margin-top: -100px;
}

#recommendations img{
  width: 100%;
  margin-top: 15px;
}

.cc{
  border-left: thin solid #D3D3D3;
  border-bottom: thin solid #D3D3D3;
}

#contacts{
  display: block;
  margin: auto;
  padding: 30px 0 30px 0;
}

#customers{
  display: block;
  margin: auto;
  padding: 30px 0 30px 0;
}

.blue-block{
  background-color: #2498F4;
  border-radius: 10px;
  padding: 40px 0 40px;
  margin: 30px;
  display: flex;
  align-items: center;
}

.didjya{
  border-left: thin solid #D3D3D3;
  border-bottom: thin solid #D3D3D3;
}

.blue-block p{
  color: white;
  margin: 0;
}

#back-arrow{
  float: left;
}

#next-arrow{
  float: right;
}

#ads{
  background-color: #2498F4;
}

#ads img{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 40px;
}

#left-pic{
  margin-top: 12px;
}

#right-pic{
  margin-top: 12px;
}

.tool{
  background-color: #F4F4F4;
}

.container{
  margin-bottom: 30px;
}

.bottom-toolbar{
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.12), 5px 6px 30px 0 rgba(0, 0, 0, 0.52);
}

.blue{
  color: #2498F2;
  font-weight: bold;
}

.tool{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.tool-text{
  color: #7F7F7F;
}

.options{
  color: #B0B0B0;
  border-right: thin solid #D3D3D3;
  display: flex;
  flex-direction: column;
}

.options-text{
  margin: auto;
}

.notification{
  border-right: thin solid #D3D3D3;
  display: flex;
  flex-direction: column;
}

.another-one{
  margin: auto;
}

.with-arrow{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.tool-text{
  display: flex;
  flex-direction: column;
}

#blue-arrow{
  margin-top: 20px;
  float: right;
}

.logout{
  border-right: thin solid #D3D3D3;
  display: flex;
  flex-direction: column;
}

.social-icons{
  border-right: thin solid #D3D3D3;
  display: flex;
  align-items: center;
}

.photo{
  margin-left: 5px;
}

#avatar{
  padding: 5px;
}

.logout-row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logout-text{
  display: flex;
  flex-direction: column;
}
